/* Our-works */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Button-filter */

.filter {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0;
  align-items: center;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.button.filter {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--fttitle-text-color);
  background: var(--ftprimary-wight-color);
  border-radius: 4px;

  cursor: pointer;
  border: none;
  padding: 6px 22px;
}

.button.filter:hover,
.button.filter:focus {
  color: var(--ftprimary-wight-color);
  background-color: var(--ftaccent-pick-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Gallery  */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 0px;
}

.gallery .item {
  width: calc((100% - 30px * 2) / 3);
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: 30px;
  box-sizing: border-box;
}

.gallery .link {
  display: block;
}

.gallery .link:hover,
.gallery .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item img {
  display: block;
  width: 100%;
}

.gallery .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.gallery .item:nth-child(3n) {
  margin-right: 0;
}

.gallery .caption {
  border-top: none;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.gallery a {
  text-decoration: none;
}

.gallery .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--fttitle-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.gallery .text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  color: var(--ftprimary-text-color);
  padding-top: 4px;
  margin: 0px;
}
